 @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


body {
  background: dimgray;
  margin: 0;
  font-family: 'Comfortaa';
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

h1 {
  font-family: 'Righteous';
  background: transparent;
  margin:0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
}

a {
  color: aliceblue;
  text-decoration: none;
  font-size: 25px;
  background: transparent;
}

a:hover {
  color: ghostwhite;
}

li {
  list-style: none;
}

li a {
  color: cadetblue;
  text-shadow: white;
}

input[type=text] {
  padding: .4em;
}

input[type=submit] {
  padding: 20px;
  color: aliceblue;
  background:olive;
  font-size: 20px;
  text-shadow: 5px;
  border-radius: 35%;
} 

.nav{
  padding: 15px;
  background:cadetblue;
  width: 100%;
}

.nav-link{
  margin-left: 20px;
  margin-right: 20px;
  color: #2c2c64;
  font-weight: bolder;
}

.nav-link:hover{
color:whitesmoke;
}

#fieldset{
  background: slategrey;
}

.signup{
  margin-right: 25px;
  color: #2c2c64;
  font-weight: bolder;
}

.login{
  color: #2c2c64;
  font-weight: bolder;
}

.nav .box-right{
  position: absolute;
  right: 20px;  
}

#signup-btn{
  border-radius: 30px;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 12px;
}

#page-title{
  color: aliceblue;
}

#box-page{
  background: #2c2c64;
  width: 100%;
}

.place-holder{
  margin-left: 50rem;
  margin-right: 30px;
}
