 @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


body {
  background:gray;
  margin: 0;
  font-family: 'Comfortaa';
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

h1 {
  font-family: 'Righteous';
  background: transparent;
  margin:0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
}

a {
  color:black;
  text-decoration: none;
  text-shadow: blue;
  font-size: 1.8em;
  background: transparent;
}

a:hover {
  color: ghostwhite;
}

li {
  list-style: none;
}

li a {
  color: goldenrod;
  text-shadow: white;
}

input[type=text] {
  padding: .4em;
}

input[type=submit] {
  padding: 20px;
  color: aliceblue;
  background: green;
  font-size: 20px;
  text-shadow: 5px;
  border-radius: 35%;
} 

.nav{
  padding: 15px;
  background: blue;
  width: 100%;
}

.nav-link{
  margin-left: 20px;
  margin-right: 40px;
  color: aliceblue;
}

.nav-link:hover{
color: khaki;
}

.signup{
  margin-right: 25px;
}

.nav .box-right{
  position: absolute;
  right: 20px;  
}

#signup-btn{
  border-radius: 15px;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 15px;
}

#page-title{
  color: aliceblue;
}

#box-page{
  background: green;
}